<div class="nosotros">
    <div class="text">
        <h2>Misión: </h2>
        <p>
            Semillas Diáspora Venezuela se dedica a dignificar y guardar la memoria de todos los que salieron de
            Venezuela
            <br>
            Queremos promover la solidaridad desde la experiencia común de haber salido del país en búsqueda de un
            futuro
            mejor. Creemos que este espacio virtual puede ayudar a construir nuevos lazos entre la comunidad de
            migrantes
            venezolanos y quienes lean sus historias.
        </p>
    </div>
    <div class="text">
        <h2>Equipo: </h2>
        <p>
            Somos un equipo internacional formado por personas de varios países que decidimos abrir un espacio para contar las historias de miles de personas que han tenido que
            salir de su tierra y que ahora se encuentran esparcidas, como semillas, en el mundo. <br> <br>
            Queremos reconocer la importancia que tienen sus historias en la construcción de lazos
            incluyentes. Reconocemos la necesidad de que los testimonios sean escuchados en el mundo, para que la
            comunidad internacional este consciente de las experiencias. <br> <br>
            Semillas Diáspora Venezuela es una organización independiente, sin fines políticos o de lucro, que
            únicamente busca dignificar y guardar la memoria de todos los que han salido de Venezuela. No es financiada por ninguna asociación internacional y tiene como único propósito
            recopilar experiencias que unan aún en la distancia. No es un proyecto político ni pretende serlo, es única
            y exclusivamente una plataforma que busca recopilar testimonios sobre la migración venezolana. Nos
            desligamos de cualquier tipo de postura política o ideológica.

        </p>
    </div>

</div>