



<div  class="text" *ngIf="!semilla.step">
        <p>
                        Todas las historias son únicas y cada una de ellas es valiosa, no importa en qué momento has migrado. <br>

                        Te invitamos a dejar un testimonio con tus propias palabras, escrito o a través de notas de voz. Tú decides qué tanto quieres compartir con el mundo. Si deseas permanecer anónimo también es posible. <br>  
                        
                        Tu testimonio consta de tres partes. La primera parte consiste únicamente en datos personales. Después, te invitamos a reproducir tu ruta de migración en un mapa global. La última parte de tu testimonio será de libre narración a través de cuatro temas.



        </p>
        <div (click)="step(1)" class="button green">Comenzar</div>
        
</div>
<step1 class="content" *ngIf="semilla.step == 1" [(semilla)]="semilla"></step1>
<step2 class="content" *ngIf="semilla.step == 2" [(semilla)]="semilla"></step2>
<step3 class="content" *ngIf="semilla.step == 3" [(semilla)]="semilla"></step3>