<div class="contenedor">
        <div class="login">
            <form (ngSubmit)="loginCorreo()" #semillasForm="ngForm">
                <div class="form-group" style="margin-bottom: 2vh;">
                        <label for="username">Ingresa tu correo</label>
                        <div class="style-input"  >
                            <input placeholder="Correo" type="email" id="email" required [(ngModel)]="user.email" name="name"
                                #email="ngModel" />
                        </div>
                    </div> 
                    <div class="form-group" style="margin-bottom: 2vh;">
                            <label for="username">Ingresa la contraseña</label>
                            <div class="style-input"  >
                                <input placeholder="Contraseña" type="password" id="password" required [(ngModel)]="user.password" name="name"
                                    #password="ngModel" />
                            </div>
                        </div> 
                        <button type="submit" class="button green" [disabled]="!semillasForm.form.valid"><i class="fas fa-arrow-right"></i></button>
        </form>
        </div>
    </div>
    
    