*{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
form{
    height: 90vh;
    background: var(--color-amarillo);
    overflow-y: scroll;
}
.introduction-text{
    text-align: center;
    font-size: 1.1em;
    padding: 2vh 10vw;
    
}
.line {
    transition: width 900ms cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 50vw;
    height: 2px;
    background: #000;
    margin: auto;
    margin-bottom: 12px;
  }
.form-group{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-group label{
    font-size: 1.5rem;
    padding: 0.8vh 0;
}
.style-input {
    position: relative;
    width: 100%;
    max-width: 80vw;
    border-radius: 2px;
    padding: 1vh;
    background: #C7AF61;
  
  }
.error{
    border: 1px solid #F25F5C;
}
.asterisco{
  color: var(--color-naranja);

}
  .style-input input {
    flex-grow: 1;
    color: #000;
    font-size: 1rem;
    
    vertical-align: middle;
    width: 100%;
  }
  .style-input input::-webkit-input-placeholder {
    color: #000;
  }
  


  input {
    border-style: none;
    background: transparent;
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px var(--color-amarillo-quem) inset !important;
      
      -webkit-text-fill-color: #fff !important;
  }

  /** %[Object] Radio buttons */
/*------------------------------------*/
@keyframes pulse {
    0% { width: .7em; height: .7em; margin: .4em;  }
    50% { width: 1.1em; height: 1.1em; margin: .2em; }
    100% { width: .9em; height: .9em; margin: .3em; }
}
.radio-group{
    padding: 0 10vw;
    align-items: flex-start;
}

.list {
    padding: .5rem 1rem;
    margin: .5rem .5rem 2rem .5rem;
    border-left: 0.1875rem solid var(--color-naranja);
    list-style: none;
  }
  
  .list__item {
    margin: 0 0 .5rem 0;
    padding: 0;
  }
  
  .label--radio {
    position: relative;
    margin: .5rem;
    line-height: 135%;
    cursor: pointer;
    color: var(--color-negro);
    font-size: 1.1rem !important;
    display: flex;
  }
  .label--radio span{
    position: relative;
    top: -0.35rem;
  }
  .radio {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .radio:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    content: "";
    position: absolute;
    top: 0;
    left: 0.125rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.75rem;
    background: var(--color-naranja);
    border-radius: 50%;
  }
  .radio:checked:before {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio:after {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.125rem;
    width: 1rem;
    height: 1rem;
    background: var(--color-amarillo-quem);
    border: 2px solid var(--color-amarillo-quem);
    border-radius: 50%;
  }




.btn{
    background: var(--color-verde);
    z-index: 1000;
    position: fixed;
    bottom: 0;
    
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    color: white;
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    transition: 0.5s all ease-in-out;
}
.btn:disabled{
    background: #798188;
}
.btn.left{
    left: 0;
}
.btn.right{
    right: 0;
}
/* Adaptando a Escritorio */
@media screen and (max-width: 800px){
  .form-group label{
    font-size: 1.2em;
  }
  .label--radio{
    font-size: 1.2em;
  }
}