<form (ngSubmit)="step(2)" #semillasForm="ngForm">

    <p class="introduction-text">Tus datos personales ayudan a entender las dinámicas de la migración venezolana. Solo
        tu nombre (o seudónimo),
        género y edad aparecerán al lado de tu testimonio. Otros datos serán guardados en una base de datos protegida y
        servirán únicamente fines investigativos. </p>
    <div class="line"></div>
    <!-- Nombre -->
    <div class="form-group" style="margin-bottom: 2vh;">
        <label for="username">Ingresa tu nombre <span class="asterisco">*</span></label>
        <div class="style-input">
            <input placeholder="Nombre/Apodo" type="text" id="name" required [(ngModel)]="semilla.name" name="name"
                #name="ngModel" />
        </div>
    </div>
    <div class="form-group radio-group">
        <b>¿Naciste en el extranjero? <span class="asterisco">*</span></b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.leaveDate" #isVenezuelan="ngModel"
                        name="isVenezuelan" value="true" checked="checked" [checked]="true">
                    <span>Si</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.leaveDate" #isVenezuelan="ngModel"
                        name="isVenezuelan" value="false">
                    <span>No</span>

     

                    
                </label>
                <div *ngIf="(semilla.leaveDate == 'false')">
                    <p>Ingresa el año de tu salida de Venezuela</p>
                    <div class="style-input" style="display: inline-block; width: 25vw;" >
                    
                        <input placeholder="YYYY" type="number" [min]="1900" [max]="this.maxYear" id="year" required
                            [(ngModel)]="year" name="year" #yearVal="ngModel" />
                            
                    </div>
                    <span *ngIf="!yearVal.valid && yearVal.dirty" style="color: var(--color-naranja)">Pon un año
                        válido.</span>
                </div>
                
            </li>

        </ul>


    </div>






    <!-- Género -->
    <div class="form-group radio-group">
        <b>Género <span class="asterisco">*</span></b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.gender" #gender="ngModel"
                        name="genero" value="hombre" checked="checked" [checked]="true">
                    <span>Hombre</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.gender" #gender="ngModel"
                        name="genero" value="mujer">
                    <span>Mujer</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.gender" #gender="ngModel"
                        name="genero" value="otro">
                    <span>Otro</span>
                </label>
            </li>
        </ul>


    </div>
    <!-- Rango de edad -->
    <div class="form-group radio-group">
        <b>Rango de edad <span class="asterisco">*</span></b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b1" value="menos18" checked="checked">
                    <span>Menos de 18</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b2" value="18-24">
                    <span>18 a 24 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b3" value="25-34">
                    <span>25 a 34 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b4" value="35-44">
                    <span>35 a 44 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b5" value="45-54">
                    <span>45 a 54 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b6" value="55-64">
                    <span>55 a 64 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b7" value="65-74">
                    <span>65 a 74 años</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" required [(ngModel)]="semilla.age" #age="ngModel" name="age"
                        id="b8" value="mas75">
                    <span>75 años o más</span>
                </label>
            </li>

        </ul>


    </div>
    <!-- Estado Civil -->
    <!-- <div class="form-group radio-group"  >
                    <b>Estado civil</b>
                    <div class="radio-object">
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r1" value="soltero/a" checked="checked"  >
                            <label for="r1" class="radio"><b></b>Soltero/a</label>
                            
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r2" value="casado/a"  >
                            <label for="r2" class="radio"><b></b>Casado/a</label>
                            
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="divorciado/a"  >
                            <label for="r3" class="radio"><b></b>Divorciado/a</label>

                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a"  >
                            <label for="r3" class="radio"><b></b>Viudo/a</label>
                    </div>
                   
                   
              </div> -->
    <!-- <div class="form-group radio-group">
                    <b>Estado civil</b>
            
            
                    <ul class="list">
                        <li class="list__item">
                            <label class="label--radio">
                                <input type="radio" class="radio"  [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r1" value="soltero/a" checked="checked"  >
                                   
                                    <span>Soltero/a</span>
                            </label>
                        </li>
                        <li class="list__item">
                            <label class="label--radio">
                                <input type="radio" class="radio"  [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r2" value="casado/a"  >
                                    
                                    <span>Casado/a</span>
                            </label>
                        </li>
                        <li class="list__item">
                            <label class="label--radio">
                                <input type="radio" class="radio"  [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="divorciado/a"  >
                                <span>Divorciado/a</span>
                            </label>
                        </li>
                        <li class="list__item">
                            <label class="label--radio">
                                <input type="radio" class="radio"  [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a">
                                <span>Viudo/a</span>
                            </label>
                        </li>
            
                    </ul>
            
            
                </div> -->
    <!-- Nivel Educativo -->
    <!-- <div class="form-group radio-group"  >
                    <b>Nivel Educativo</b>
                    <div class="radio-object">
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r1" value="soltero/a" checked="checked"  >
                            <label for="r1" class="radio"><b></b>Primaria incompleta</label>
                            
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r2" value="casado/a"  >
                            <label for="r2" class="radio"><b></b>Primaria completa</label>
                            
                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="divorciado/a"  >
                            <label for="r3" class="radio"><b></b>Secundaria incompleta</label>

                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a"  >
                            <label for="r3" class="radio"><b></b>Secundaria completa</label>

                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a"  >
                            <label for="r3" class="radio"><b></b>Universitario incompleto</label>

                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a"  >
                            <label for="r3" class="radio"><b></b>Universitario completo</label>

                            <input type="radio" required [(ngModel)]="semilla.martialStatus" #martial="ngModel" name="martial" id="r3" value="viudo/a"  >
                            <label for="r3" class="radio"><b></b>Sin formación</label>
                    </div>
                   
                   
              </div> -->
    <div class="form-group radio-group">
        <b>Nivel educativo</b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r1" value="primaria incompleta" checked="checked">
                    <span> Primaria incompleta</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r2" value="primaria completa">

                    <span> Primaria completa</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r3" value="secundaria incompleta">
                    <span> Secundaria incompleta</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r3" value="secundaria completa">
                    <span> Secundaria completa</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r3" value="universitario incompleto">
                    <span> Universitario incompleto</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r3" value="universitario completo">
                    <span> Universitario completo</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.educativeLevel" #education="ngModel"
                        name="education" id="r3" value="sin formación">
                    <span> Sin formación</span>
                </label>
            </li>


        </ul>


    </div>



    <div class="form-group radio-group">
        <b>Ocupación en Venezuela</b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r1" value="Empresario/a o profesional con asalariados"
                        checked="checked">
                    <span>Empresario/a o profesional con asalariados</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r2"
                        value="Empresario/a o trabajador/a independiente sin asalariados">

                    <span>Empresario/a o trabajador/a independiente sin asalariados</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r3" value="Asalariado sector privado">
                    <span>Asalariado sector privado</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r4" value="Asalariado sector publico">
                    <span>Asalariado sector público</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r5" value="Ama de casa">
                    <span>Ama de casa</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r6" value="Estudiante">
                    <span>Estudiante</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r7" value="Jubilado">
                    <span>Jubilado</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.venezuelaOcupation" #vzlaOcupation="ngModel"
                        name="venezuelaOcupation" id="r8" value="Desempleado">
                    <span>Desempleado</span>
                </label>
            </li>


        </ul>


    </div>
    <div class="form-group radio-group">
        <b>Ocupación en su país actual</b>


        <ul class="list">
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r1" value="Empresario/a o profesional con asalariados"
                        checked="checked">
                    <span>Empresario/a o profesional con asalariados</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r2"
                        value="Empresario/a o trabajador/a independiente sin asalariados">

                    <span>Empresario/a o trabajador/a independiente sin asalariados</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r3" value="Asalariado sector privado">
                    <span>Asalariado sector privado</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r4" value="Asalariado sector publico">
                    <span>Asalariado sector público</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r5" value="Ama de casa">
                    <span>Ama de casa</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r6" value="Estudiante">
                    <span>Estudiante</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r7" value="Jubilado">
                    <span>Jubilado</span>
                </label>
            </li>
            <li class="list__item">
                <label class="label--radio">
                    <input type="radio" class="radio" [(ngModel)]="semilla.currentOcupation" #currentOcupation="ngModel"
                        name="currentOcupation" id="r8" value="Desempleado">
                    <span>Desempleado</span>
                </label>
            </li>


        </ul>


    </div>


    <button type="submit" class="btn right" [disabled]="!semillasForm.form.valid"><i
            class="fas fa-arrow-right"></i></button>




</form>