:host{
    height: 100vh;
}
.map{
    position: absolute;
    right: 0;
    width: 100vw;
    overflow: unset;
    height: 90vh;
    z-index: -1;
}
.aside{
    background: var(--color-amarillo);
    height: 90vh;
    width: 30vw;
    position: absolute;
    z-index: 999;
    left: -30vw;
    transition: all 500ms ease-in-out;
    
    padding: 2vh 5vmin;
}
.content{
    margin: 3vh 0;
    height: 100%;
    overflow-y: scroll;
}
.aside-active{
    left: 0;
}
.close{
    display: flex;
    
}
.social{
    display: flex;
    justify-content: space-around;

}
audio{
    width: 100%;
}
.button {
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 3px;
    margin:5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: text-shadow 0.3s ease;
    font-style: normal;
  }
  
  .button:active {
    position: relative;
    top: 1px;
    border-bottom-width: 2px;
  }
  
  .button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
  }
  .green {
    background-color: var(--color-verde-quem);
    border-color: var(--color-verde);
  }
  .display-none{
      display: none;
  }
  .button:disabled{
    background: #798188;
    border-color: #8a9299;
  }
  .active{
      display: flex !important;
  }
@media screen and (max-width: 800px){
    .aside{
        height: 40vh;
        width: 100vw;
        bottom: -40vh;
        position: fixed;
        left: 0;

    }
    .aside-active{
        bottom: 0;
    }
}
