:host{
    height: 100vh;
}
.map{
    position: absolute;
    right: 0;
    width: 100vw;
    overflow: unset;
    height: 90vh;
    z-index: -1;
}
.aside{
    background: var(--color-amarillo);
    height: 90vh;
    width: 30vw;
    position: absolute;
    z-index: 999;
    left: -30vw;
    transition: all 500ms ease-in-out;
}
.aside-active{
    left: 0;
}

