
<div style="position: relative; overflow: hidden;">
    <div id="map" class="map">
       
       
    </div>
    <aside class="aside" id="aside">
        <div style="width: 100%; display: flex; justify-content: space-between">
            <div class="close" (click)="closeAside()">
                <i class="fas fa-times"></i>
            </div>
            <div class="social">
                <i class="fab fa-twitter" (click)="shareTwitter()"></i>
                <i class="fab fa-facebook-f" (click)="shareFacebook()"></i>
            </div>

            
        </div>
        <div>
            <audio id="audio1" controls="controls"></audio>
        <audio id="audio2" controls="controls"></audio>
        <audio id="audio3" controls="controls"></audio>
        <audio id="audio4" controls="controls"></audio>
        </div>
        
    </aside>
    <div id="i12345" style="position:fixed; height: 90vh; top:10vh; width: 100vw; background: var(--color-amarillo);display: flex; flex-direction: column; justify-content:center; align-items: center;" >
            <i class="fas fa-spinner fa-spin" style="font-size: 3em;"></i>
            <p style="font-size: 1.5em;">Cargando...</p>
    </div>
</div>


