
<div style="position: relative;">
    <div id="map" class="map"></div>
    <aside class="aside" id="aside">
        <div style="width: 100%; display: flex; justify-content: space-between">
            <div class="close" (click)="closeAside()">
                <i class="fas fa-times"></i>
            </div>
            <div class="social">
                <i class="fab fa-twitter" (click)="shareTwitter()"></i>
                <i class="fab fa-facebook-f" (click)="shareFacebook()"></i>
            </div>

            
        </div>
        <div>
            <audio id="audio1" controls="controls"></audio>
        <audio id="audio2" controls="controls"></audio>
        <audio id="audio3" controls="controls"></audio>
        <audio id="audio4" controls="controls"></audio>
        </div>
        
    </aside>
</div>


