<div class="navbar" id="touch-bar">
    <ul class="desktop">
        <a routerLink="/"><li>Inicio </li> </a>
        <a routerLink="/new"><li>Deja tu testimonio </li> </a>
        <a routerLink="/map"><li>Historias </li> </a>
        <a routerLink="/nosotros"><li>Nosotros </li> </a>
        <a routerLink="/privacy"><li>Privacidad </li> </a>
        <a routerLink="/contacto"><li>Contacto </li> </a>
    </ul>
    <ul class="mobile">
        <img src="../../assets/logo-neg.png" alt="">
        <div (click)="toggleMenu()"  style="font-size: 1.3em; min-width: 5vw;"><i id="menu-bars" class="fas fa-bars"></i></div>
    </ul>
</div>
<div class="responsive-navbar">
    <div routerLink="/"  (click)="toggleMenu()">Inicio</div>
    <div routerLink="/new" (click)="toggleMenu()">Deja tu testimonio</div>
    <div routerLink="/map" (click)="toggleMenu()">Historias</div>
    <div routerLink="/nosotros" (click)="toggleMenu()">Nosotros</div>
    <div routerLink="/privacy" (click)="toggleMenu()">Privacidad</div>
    <div routerLink="/contacto" (click)="toggleMenu()">Contacto</div>
</div>