.navbar{
    width: 100vw; 
    position: fixed; 
    background: var(--color-negro); 
    height: 10vh;
    z-index: 999; 
    top:0;
    margin-bottom: 10vh;
    padding: 2vw;
    display: flex;
    
}
.responsive-navbar{
    visibility: hidden;
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: -100vw;
    background: var(--color-negro);
    color: var(--color-blanco);
    transition: all 0.5s ease-out;
    will-change: transform;
    z-index: 1000;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.7em;
    font-weight: bolder;
}
.responsive-navbar.active{
    transform: translateX(100vw);
    visibility: visible;
}
ul.desktop{
    display: none;
}
ul.mobile{
    display: flex;
}
ul{
    
    justify-content: space-around;
    height: 100%;
    width: 100%;
    color: var(--color-blanco);
    align-items: center;


}
ul a{
    color: inherit;
    text-decoration: none;
}
ul a li{
    list-style: none;
    
}
ul a:hover{
    color: var(--color-naranja);
    text-decoration: underline;
}

ul img{
    max-height: 100%;
    margin-bottom: 1vh;
}
@media (min-width:768px){
     ul.desktop{
         display: flex;
     }
     ul.mobile{
         display: none;
     }
}