.navbar{
    width: 100vw; 
    position: fixed; 
    background: var(--color-negro); 
    height: 10vh;
    z-index: 999; 
    top:0;
    margin-bottom: 10vh;
    padding: 2vw;
    display: flex;
    
}
ul.desktop{
    display: none;
}
ul.mobile{
    display: flex;
}
ul{
    
    justify-content: space-around;
    height: 100%;
    width: 100%;
    color: var(--color-blanco);
    align-items: center;


}
ul a{
    color: inherit;
    text-decoration: none;
}
ul a li{
    list-style: none;
    
}
ul a:hover{
    color: var(--color-naranja);
    text-decoration: underline;
}

ul img{
    max-height: 100%;
}
@media (min-width:768px){
     ul.desktop{
         display: flex;
     }
     ul.mobile{
         display: none;
     }
}