<div class="contenedor">
    <button class="button-round" (click)="toggleSidebar()" ><i class="fas fa-times"  style="cursor: pointer;"></i> </button>
    <div class="barraLateral" id="sidebar" >
        <div style="position: relative;display: flex;
        flex-direction: column;
        justify-content: space-between; height: 100%;">
                <div class="semillasList">
                    <div style="display:flex;justify-content: space-between;"><p style="font-size: 1.5em; font-weight: bold; text-transform: uppercase;" class="title">Semillas</p></div><br>
                    <ol>
                            <li style="font-weight: bold; text-transform: uppercase; font-size:0.8em; cursor: pointer;" *ngFor="let semilla of semillasSinAprobar; let i = index" (click)="selectSemilla(semilla)">{{semilla.name}}</li>
                          
                    </ol>
                    
                </div>
                
                <div class="logOut">
                        <button class="button yellow" ><i class="fas fa-file-download"></i> Descarga todos los testimonios en CSV</button>
                        <button class="button red" (click)="logout()" >Cerrar Sesión</button>
                </div>
        </div>
           
        
    </div>
    
    <div class="contenido">
        <p>ID: {{semillaActual?._id}}</p>
        <p>Tipo: {{semillaActual?.testimonialType}}</p>
        <div *ngIf="semillaActual?.testimonialType == 'audio'">
            <p>Respuesta 1</p>
            <audio [src]="semillaActual?.audios[0]" controls></audio>
            <p>Respuesta 2</p>
            <audio [src]="semillaActual?.audios[1]" controls></audio>
            <p>Respuesta 3</p>
            <audio [src]="semillaActual?.audios[2]" controls></audio>
            <p>Respuesta 4</p>
            <audio [src]="semillaActual?.audios[3]" controls></audio>
        </div>
        <div *ngIf="semillaActual?.testimonialType == 'text'">
                <p>Respuesta 1</p>
                <p>{{semillaActual?.textos[0]}}</p>
                <p>Respuesta 2</p>
                <p>{{semillaActual?.textos[1]}}</p>                
                <p>Respuesta 3</p>
                <p>{{semillaActual?.textos[2]}}</p>
                <p>Respuesta 4</p>
                <p>{{semillaActual?.textos[3]}}</p>
            </div>
        <p>Nombre/Apodo: {{semillaActual?.name}}  </p>
        <p>Genero: {{semillaActual?.gender}} </p>
        <p>Edad: {{semillaActual?.age}}</p>
        <p>Estado Civil: {{semillaActual?.martialStatus}}</p>
        <p>Nivel Educativo: {{semillaActual?.educativeLevel}}</p>
        <p>Ocupación en Venezuela: {{semillaActual?.venezuelaOcupation}}</p>
        <p>Ocupación en Venezuela: {{semillaActual?.currentOcupation}}</p>
        <p>Dispositivo:{{semillaActual?.device}} </p>
        <p>Dia de creación: {{semillaActual?.dateCreated | date}}</p>
        <p>Lugar de creación: {{semillaActual?.place}}</p>
        <p>Veces compartido: {{semillaActual?.timesShared}}</p>

        {{semillaActual?.published}} <br>
    </div>
    <app-admin-map [semillaAPintar]="semillaActual"></app-admin-map>
</div>

