.recording{
    height: 90vh;
    overflow-y: scroll;
}

.record{
    
}
.stop{
    
   
}
.stop i{
    color: #e84c3d;
    
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
}
.overlay{
    z-index: 100000;
    height: 90vh;
    width: 100vw;
    background: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    padding: 0 10vw;
}
.button {
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 3px;
    margin:5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: text-shadow 0.3s ease;
    font-style: normal;
  }
  
  .button:active {
    position: relative;
    top: 1px;
    border-bottom-width: 2px;
  }
  
  .button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
  }
  .green {
    background-color: var(--color-verde-quem);
    border-color: var(--color-verde);
  }
  .display-none{
      display: none;
  }
  .button:disabled{
    background: #798188;
    border-color: #8a9299;
}