.recording{
    height: 90vh;
    overflow-y: scroll;
}

.record{
    
}
.stop{
    
   
}
.stop i{
    color: #e84c3d;
    
}

.audio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 90vh;
    padding: 10vw;
}
.overlay{
    z-index: 100000;
    height: 90vh;
    width: 100vw;
    background: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    padding: 0 10vw;
}
.button {
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 3px;
    margin:5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: text-shadow 0.3s ease;
    font-style: normal;
  }
  
  .button:active {
    position: relative;
    top: 1px;
    border-bottom-width: 2px;
  }
  
  .button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
  }
  .green {
    background-color: var(--color-verde-quem);
    border-color: var(--color-verde);
  }
  .display-none{
      display: none;
  }
  .button:disabled{
    background: #798188;
    border-color: #8a9299;
  }

  .textarea {
    position: relative;
    width: 100%;
    max-width: 80vw;
    border-radius: 2px;
    border: none;
    color: var(--color-blanco);
    padding: 1vh;
    background: #C7AF61;
  
  }
  textarea {
    border-style: none;
    background: transparent;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
  }
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover, 
  textarea:-webkit-autofill:focus, 
  textarea:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px var(--color-amarillo-quem) inset !important;
      
      -webkit-text-fill-color: #fff !important;
  }
  textarea::-webkit-input-placeholder {
    color: var(--color-blanco);
  }
  
  textarea:-moz-placeholder { /* Firefox 18- */
    color: var(--color-blanco);  
  }
  
  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: var(--color-blanco);  
  }
  
  textarea:-ms-input-placeholder {
    color: var(--color-blanco);  
  }
  
  textarea::placeholder {
    color: var(--color-blanco);  
  }
  .textos{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    justify-content: center;
    padding: 5vh 10vw;
  }
  .textos p{
      margin: 2vh 0;
  }
  .textos button{
    margin: 4vh 0;
  }