<div class="recording">

    <p>
        Tu historia es única en el mundo. A través de cuatro etapas cronológicas de tu migración, desde salir de
        Venezuela hasta echar raíces en un país nuevo, te invitamos a contar tu historia en tus propias palabras.
        Semillas de la Diáspora es un proyecto inclusivo y constructivo. Valoramos tus opiniones, sin embargo te
        pedimos no incitar la violencia y no limitarte a hacer proposiciones políticos que no guardan ninguna relación
        con la migración venezolana. Nos reservamos el derecho de no publicar tu testimonio si viola alguna de estas
        condiciones de respeto mutuo.
    </p>
    <div class="switch switch--horizontal">
        <input id="radio-a" type="radio" name="first-switch" checked="checked" value="audio" [(ngModel)]="semilla.testimonialType" />
        <label for="radio-a"><i class="fas fa-microphone"></i></label>
        <input id="radio-b" type="radio" name="first-switch" value="text" [(ngModel)]="semilla.testimonialType" />
        <label for="radio-b"><i class="fas fa-pencil-alt"></i></label>
        <span class="toggle-outside">
            <span class="toggle-inside"></span>
        </span>
    </div>
    {{semilla.testimonialType}}
    <div *ngIf="semilla.testimonialType == 'audio'">
            <div class="audio" *ngIf="!advance[0]">
                    <h1>1.	Salir. ¿Cuándo saliste y como tomaste la decisión? Cuenta sobre las razones de tu salida, quien y que tuviste que dejar atrás y como te preparaste para la salida.</h1>
                    <div class="c100" id="audio">
                        <span id="hola">
                            <span class="inner record" (click)="decider()" id="decider">
                                <i class="fas fa-microphone" id="icon"></i>
                                <p style="font-size:0.7em" *ngIf="isRecording">{{timers[0]}}</p>
                            </span>            
                        </span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill">
                            </div>
                        </div>
                    </div>
            
                    <div (click)="advance[0]=true">siguiente</div>
                </div>
                <div class="audio" *ngIf="advance[0] && !advance[1]">
            <h2>2.	En camino. ¿Cuáles fueron tus experiencias y dificultades en el camino? Cuenta sobre los desafíos prácticos y personales que tuviste que afrontar en el camino. </h2>
                    <div class="c100" id="audio">
                        <span id="hola">
                            <span class="inner record" (click)="decider()" id="decider">
                                <i class="fas fa-microphone" id="icon"></i>
                                <p style="font-size:0.7em" *ngIf="isRecording">{{timers[0]}}</p>
                            </span>            
                        </span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill">
                            </div>
                        </div>
                    </div>
                    <div (click)="advance[1]=true">siguiente</div>
                </div>
                <div class="audio" *ngIf="advance[1] && !advance[2]">
                    <h3>3.	Llegando. ¿Cómo fue tu proceso de adaptación en el país al que llegaste? Cuenta sobre el apoyo y las dificultades que viviste y cómo vas construyendo una nueva vida.</h3>
                    <div class="c100" id="audio">
                        <span id="hola">
                            <span class="inner record" (click)="decider()" id="decider">
                                <i class="fas fa-microphone" id="icon"></i>
                                <p style="font-size:0.7em" *ngIf="isRecording">{{timers[0]}}</p>
                            </span>            
                        </span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill">
                            </div>
                        </div>
                    </div>
                    <div (click)="advance[2]=true">siguiente</div>
                </div>
                <div class="audio" *ngIf="advance[2] && !advance[3]">
                    <h4>4.	El futuro. ¿Cuáles son las esperanzas para ti, tus seres queridos y para Venezuela? Cuenta sobre tus deseos, tanto para ti como para todos los venezolanos. </h4>
                    <div class="c100" id="audio">
                        <span id="hola">
                            <span class="inner record" (click)="decider()" id="decider">
                                <i class="fas fa-microphone" id="icon"></i>
                                <p style="font-size:0.7em" *ngIf="isRecording">{{timers[0]}}</p>
                            </span>            
                        </span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill">
                            </div>
                        </div>
                    </div>
                    <div (click)="crearSemilla()">siguiente</div>
                </div>
    </div>
    
</div>



