<h1>STEP3</h1>
<div class="switch switch--horizontal">
    <input id="radio-a" type="radio" name="first-switch" checked="checked" value="audio" [(ngModel)]="semilla.testimonialType" [checked]="semilla.testimonialType == audio"/>
    <label for="radio-a"><i class="fas fa-microphone"></i></label>
    <input id="radio-b" type="radio" name="first-switch" value="text" [(ngModel)]="semilla.testimonialType" [checked]="semilla.testimonialType == text"/>
    <label for="radio-b"><i class="fas fa-pencil-alt"></i></label>
    <span class="toggle-outside">
        <span class="toggle-inside"></span>
    </span>
</div>
{{semilla.testimonialType}}


<button [disabled]="isRecording" (click)="record()">Record</button>
<h2>{{timers[0]}}</h2>
<button [disabled]="!isRecording" (click)="stop()">Stop</button>