.recording{
    height: 90vh;
    overflow-y: scroll;
}

.record{
    
}
.stop{
    
   
}
.stop i{
    color: #e84c3d;
    
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    
}