<div class="privacy">
    <div class="text">
        <h2>Información Relevante: </h2>
        <p>
            Es requisito necesario para el uso de Semillas Díaspora Venezuela, que lea y acepte los siguientes Términos
            y Condiciones que a continuación se redactan. El uso de nuestros servicios implicará que usted ha leído y
            aceptado la totalidad de los Términos y Condiciones de Uso en el presente documento. Todos los inmuebles que
            son ofrecidos por Semillas Díaspora Venezuela web pueden ser creados, cobrados, enviados o presentados por
            cualquier página web tercera y ajena a Semillas Díaspora Venezuela. En tal caso estarían sujetas a sus
            propios Términos y Condiciones. En algunos casos, para hacer uso de nuestros servicios, será necesario el
            registro por parte del usuario, con ingreso de datos personales fidedignos y definición de una contraseña.
            Es responsabilidad de cada uno de los usuarios que hagan uso de nuestros servicios el contactar a la persona
            de su preferencia en caso de escoger un inmueble. Con esto se hace referencia a que no se induce de ninguna
            forma a los usuarios a que escojan una publicación en particular sobre las otras. Los precios de los
            inmuebles ofrecidos en Semillas Díaspora Venezuela los eligen únicamente los usuarios.
        </p>
    </div>
    <div class="text">
        <h2>Uso no Autorizado: </h2>
        <p>
            El uso de Semillas Díaspora Venezuela como entidad proveedora del servicio es de uso exclusivo de los
            creadores de Semillas Díaspora Venezuela así como el logo, logotipo, pagina web y demás cosas pertenecientes
            a dichos miembros.
        </p>
    </div>
    <div class="text">
        <h2>Propiedad: </h2>
        <p>
            Todos los productos son propiedad de los proveedores del contenido. En caso de que no se especifique lo
            contrario.
        </p>
    </div>
    <div class="text">
        <h2>Legitimidad: </h2>
        <p>
            Todas las formas en que los usuarios sean contactados serán reportadas automáticamente a Semillas Díaspora
            Venezuela y
            sus creadores con fines de evitar fraudes. Es deber de los usuarios ayudar a denunciar cualquier publicación
            que
            infrinja los términos de privacidad y usabilidad para poder construir una comunidad sana de publicadores y
            personas que
            usan el servicio y además de esto evitar que personas fraudulentas hagan uso indebido de los servicios.
            Semillas
            Díaspora Venezuela y sus creadores se encargan única y exclusivamente de revisar que las publicaciones se
            acojan a los
            términos de usabilidad en la medida en que les sea posible. En caso de contactar a algún usuario sospechoso
            o que esté
            haciendo uso indebido de los servicios de la página, es deber del usuario contactar a las autoridades
            pertinentes para
            poner la denuncia respectiva. No es responsabilidad de Semillas Díaspora Venezuela o de sus creadores
            verificar la
            autenticidad de sus usuarios. Semillas Díaspora Venezuela y sus creadores estarán en completa potestad de al
            encontrar
            algún caso como el mencionado anteriormente, eliminar las cuentas y bloquear a los usuarios infractores.

        </p>
    </div>
    <div class="text">
        <h2>Privacidad y Usabilidad: </h2>
        <p>
            Este sitio web garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los
            datos
            ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a
            terceros, salvo que
            deba ser revelada en cumplimiento a una orden judicial o requerimientos legales. La suscripción a boletines
            de correos
            electrónicos publicitarios es voluntaria y podría ser seleccionada al momento de crear su cuenta. El usuario
            puede
            elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que
            se haya
            registrado y que sea necesario para la compra de alguno de nuestros productos. Semillas Díaspora Venezuela y
            sus
            creadores no asumen la responsabilidad en caso de que entregue dicha clave a terceros. El inicio de sesión a
            través de
            Google, Inc. Está protegido por Google. Ninguno de los datos, exceptuando el nombre del usuario/pseudonimo y
            datos
            demográficos, es recopilado en la página y es de exclusivo uso del usuario. Las publicaciones del usuario y
            la
            información que se provee en ellas es con único y exclusivo uso de ayudar al usuario a encontrar testimonios
            o dar a
            conocer su testimonio. Por tanto el usuario está en la completa libertad de realizar y ver publicaciones
            siempre y
            cuando cumpla los Términos y Condiciones de Uso descritos en este documento.
        </p>
    </div>
    <div class="text">
        <p>
                Semillas Díaspora Venezuela reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
        </p>
    </div>
</div>