<div class="privacy">




    <div class="text">
        <h2>INTRODUCCIÓN: </h2>
        <p>
            Semillas Diáspora Venezuela recopila, trata y almacena información personal a través de la web de su
            propiedad https://semillasvenezuela.org/.
            Esta información será relativa a los usuarios de la web. La información se recopilará, tratara y almacenará
            conforme a la presente Política de Privacidad.
            Esta Política de Privacidad fue actualizada el 30 de abril 2019.
        </p>
        <h2>RESPONSABLE LEGAL: </h2>
        <p>
            Denominación: Semillas Diáspora Venezuela
            Domicilio: Blijde Inkomststraat 21 / 3307 3000 Leuven, Bélgica
            E-mail de contacto: semillas.diaspora.venezolana@gmail.com
        </p>
        <h2>LEYES DE APLICACIÓN EN ESTA WEB: </h2>

        <ul>
            <li> RGPD (Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a
                la protección de las personas físicas)</li>
            <li>
                LOPD (Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y Real
                Decreto 1720/2007, de 21 de diciembre, Reglamento de desarrollo de la LOPD)

            </li>
            <li>
                LSSI (Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y Comercio Electrónico)
            </li>
        </ul>
        <h2>DATOS RECOPILADOS: </h2>
        <p>Únicamente se recopilarán los datos estrictamente necesarios para llevar a cabo la normal actividad del
                servicio. Ajustándose al principio de minimización de datos (Art.5.b GDPR).
                Los datos recopilados serán en todo caso de mayores de 16 años (Art. 8.1 GDPR). Semillas Diáspora Venezuela se
                reserva el derecho a tomar las medidas oportunas para comprobar la veracidad de la edad (Art. 8.2 GDPR).
        
                Los siguientes tipos de información personal pueden ser recopilados, almacenados y usados
               <br>   1. información sobre su ordenador, incluyendo su ubicación geográfica, tipo y versión de navegador, y sistema
                operativo;
                <br> 2. información sobre sus visitas y uso de este sitio web, incluidas las fuentes de referencia, duración de la
                visita, visitas de la página y rutas de navegación del sitio web;
                <br>  3. información que introduzca al crear un perfil en nuestro sitio web, por ejemplo, su nombre, género, edad,
                estado civil, etc.
                <br> 4. información que introduzca mientras usa los servicios en nuestro sitio web;
                <br> 5. información que se genera mientras usa nuestro sitio web, incluido cuándo, qué tan a menudo y bajo qué
                circunstancias lo use;
                <br> 6. información que publique en nuestro sitio web con la intención de que sea publicada en Internet, lo que
                incluye su nombre de usuario y contenido de sus publicaciones;
                <br> 7. cualquier otra información personal que nos envíe
        Los datos personales se recopilarán a través de la web de Semillas Diáspora Venezuela,
        https://semillasvenezuela.org/, cuando introduzcas información en alguno de los campos destinados a tal efecto
        en la web. Estos campos están debidamente señalizados y no recopilarán ningún dato hasta que no aceptes
        expresamente la cesión y gestión conforme a esta política de privacidad. <br><br>
        OBJETIVO DE LA RECOPILACIÓN Y USO DE LOS DATOS.
        La recopilación y uso de datos se realiza con el único objetivo de registrar el trafico del sitio, ademas de los testimonios de los venezolanos.
        Semillas Diáspora Venezuela se compromete a no utilizar los datos obtenidos con una finalidad distinta a esta.
        <br><br>DESTINATARIO DE LOS DATOS.<br><br>
        Los datos recopilados se incorporarán a un fichero propiedad de:
        <ul>
            <li>Semillas Diáspora Venezuela
                    Este fichero será gestionado por: Semillas Diáspora Venezuela</li>
            <li>Este fichero se almacenará en: Google Cloud Con domicilio en 1600 Amphitheatre Pkwy, Mountain View, CA 94043, EE. UU.</li>
  
        </ul>

        <br><br>
        PLAZO DE CONSERVACIÓN DE LOS DATOS.<br><br>
        Los datos se conservarán hasta que se cumpla el objetivo por el cual se recopilaron estos datos (Art.5.e. GDPR)
        o hasta que se ejerza el derecho a la supresión o modificación de los mismos. Siempre y cuando esto no entre en
        conflicto con la necesidad por motivos legales o fiscales de almacenar los mismos.
        <br><br>¿CÓMO PROTEGEMOS SUS DATOS?<br><br>
        Sus datos se transfieren y almacenan de forma segura ya que disponemos de:
        - Cifrado con protocolo SSL.
        - Protocolos de seguridad para prevenir accesos no autorizados.
        - Control de accesos.
        - Almacenamiento encriptado.
        Semillas Diáspora Venezuela no puede garantizar la completa seguridad en las comunicaciones a través de Internet
        pero garantizamos tomar las medidas adecuadas para proteger sus datos.
        Además Semillas Diáspora Venezuela se compromete a mantener la confidencialidad de los datos y no comunicará ni
        permitirá el acceso a terceros no autorizados.
        <br><br>TUS DERECHOS EN CUANTO A PROTECCIÓN DE DATOS<br><br>
        La legislación le reconoce unos derechos como usuario que ha cedido sus datos personales:
        " Acceso a los datos personales.
        " Rectificación o supresión.
        " Oponerse al tratamiento.
        " Portabilidad de los datos.
        " Limitación de su tratamiento.
        El ejercicio de estos derechos es personal. Por lo que solo puedes solicitarlos para los datos de los cuales
        eres el propietario.
        En el caso de que quieras ejercer alguno de estos derechos puedes hacerlos a online través de GGG, mediante un
        mail dirigido a semillas.diaspora.venezolana@gmail.com o mediante carta dirigida a Semillas Diáspora Venezuela
        dirección Blijde Inkomststraat 21 / 3307 3000 Leuven, Bélgica indicando los derechos que se quieren ejercer y
        una prueba de identidad.
        Nos comprometemos a responder a tu solicitud en un plazo máximo de 30 días hábiles.
        <br><br>LEGITIMACIÓN PARA EL TRATAMIENTO DE DATOS<br><br>
        La base legal para el tratamiento de tus datos personales es la aceptación explícita del tratamiento, gestión y
        almacenamiento de los mismos según la presente política de privacidad.
        <br><br>CONSECUENCIAS DE NO ACEPTAR LA POLÍTICA DE PRIVACIDAD<br><br>
        En el caso de que no aceptes la gestión de tus datos según la presente política de privacidad, no se procederá a
        la recopilación de los mismos, lo que puede suponer que no se pueda llevar a cabo el servicio prestado por
        Semillas Diáspora Venezuela.

            <h2>AUTORIDAD DE PROTECCIÓN DE DATOS EN BÉLGICA</h2>
        <p>
                En el caso de que quieras hacer valer tus derechos en cuanto a protección de datos y consideras que no los
                estamos respetando puedes dirigirte a la autoridad española responsable.
                - Sitio webde la autoridad de protección de datos: http://www.privacycommission.be
                - E-mail de la autoridad de protección de datos: comission@privacycommission.be
                - Teléfono de la autoridad de protección de datos: +32 2 274 48 00
        </p>
       
        <h2>
                CAMBIOS EN LA POLÍTICA DE PRIVACIDAD
        </h2>
        <p>
                Semillas Diáspora Venezuela se reserva el derecho a modificar la presente Política de Privacidad, estas
                modificaciones se harán conforme a la legislación y la jurisprudencia y quedaran reflejadas en la presente
                Política de Privacidad.
        </p>

        
        
    </div>




   
</div>