.privacy{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1em;
    padding: 4vh 0;
    overflow: scroll;
    min-height: 90vh;
}
.text{
    padding: 2vh 10vw;
}
h2{
    margin-bottom: 1vh;
    font-weight: 100;
    font-size:2em;
}
ul{
    margin-left: 2em;
}