/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
    --color-amarillo:#f2d576;
    --color-blanco:#fff9fb;
    --color-negro:#252627;
    --color-verde:#1fb9af;
    --color-naranja:#e87554;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.marker-semilla svg {
    width: 2vh;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.marker-big > svg{
    width: 4vh;
}
svg > g > g > g > g > path {
    cursor: pointer;

}
svg > g > g > g > g > path:hover {
    stroke: crimson;
    stroke-width: 1%;
}
svg > g > g > g > path {
    cursor: pointer;

}
svg > g > g > g > path:hover {
    stroke: crimson;
    stroke-width: 1%;
}