/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{  
    
    font-family: 'Montserrat', sans-serif;
    --color-amarillo:#f2d576;
    --color-blanco:#fff9fb;
    --color-negro:#252627;
    --color-verde:#1fb9af;
    --color-naranja:#e87554;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body{
    
    background-image: linear-gradient(to bottom, #f4c21d, #f3c530, #f3c83f, #f2cb4c, #f2ce58, #f2cf5d, #f2d162, #f2d267, #f2d267, #f2d267, #f2d267, #f2d267);
}
.marker-semilla svg {
    
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.marker-big > svg{
    transition: all 500ms ease-in-out;
    transform: scale(1.4)
}
lottie-animation-view div svg{
    
    width: 100vw !important;
}
.mapboxgl-ctrl-geocoder input[type='text'] {
    background: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    height: 10vmin;
    font: 25px/25px helvetica;
    color: white;
    box-sizing: border-box;
    padding: 0 20px;
}
.geocoder-pin-right,.geocoder-pin-right * {
    display: none;
    background: transparent;
    border: none;
  }
/* Suggestions */
.mapboxgl-ctrl-geocoder ul {
    background-color:#3e3e3e;;
    
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    top: -1;
    z-index:1000;
    overflow:hidden;
    font: 25px/25px helvetica;
    }
    .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl-geocoder ul,
    .mapboxgl-ctrl-bottom-right .mapboxgl-ctrl-geocoder ul {
      top:auto;
      bottom:100%;
      }
    .mapboxgl-ctrl-geocoder ul > li > a {
      clear:both;
      cursor:default;
      display:block;
      padding:5px 10px;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      
      color:#fff;
      }
      .mapboxgl-ctrl-geocoder ul > li:last-child > a { border-bottom:none; }
      .mapboxgl-ctrl-geocoder ul > li > a:hover {
        color:#3e3e3e;
        background: #fff;
        text-decoration:none;
        cursor:pointer;
        }
      .mapboxgl-ctrl-geocoder ul > li.active > a {
        color:#202020;
        background-color:#eeeeee;
        text-decoration:none;
        cursor:pointer;
        }

  

      .mapboxgl-ctrl-geocoder { min-width:100%; }
      .bounce {
        display: inline-block;
        position: relative;
        -moz-animation: bounce 1s infinite linear;
        -o-animation: bounce 1s infinite linear;
        -webkit-animation: bounce 1s infinite linear;
        animation: bounce 1s infinite linear;
        
      }

      @-webkit-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-moz-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-o-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @-ms-keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }
    @keyframes bounce {
        0% { top: 0; }
        50% { top: -0.2em; }
        70% { top: -0.3em; }
        100% { top: 0; }
    }

    .switch {
        margin: 4rem auto;
      }
      /* main styles */
      .switch {
        width: 24rem;
        position: relative;
      }
      .switch input {
        position: absolute;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      .switch input:checked {
        z-index: 1;
      }
      .switch input:checked + label {
        opacity: 1;
        cursor: default;
      }
      .switch input:not(:checked) + label:hover {
        opacity: 0.5;
      }
      .switch label {
        color: #fff;
        opacity: 0.33;
        transition: opacity 0.25s ease;
        cursor: pointer;
      }
      .switch .toggle-outside {
        height: 100%;
        border-radius: 2rem;
        padding: 0.25rem;
        overflow: hidden;
        transition: 0.25s ease all;
      }
      .switch .toggle-inside {
        border-radius: 5rem;
        background: #4a4a4a;
        position: absolute;
        transition: 0.25s ease all;
      }
      .switch--horizontal {
        width: 18rem;
        height: 3rem;
        margin: 0 auto;
        font-size: 0;
        margin-bottom: 1rem;
        transform: scale(0.5);
      }
      .switch--horizontal input {
        height: 3rem;
        width: 6rem;
        left: 6rem;
        margin: 0;
      }
      .switch--horizontal label {
        font-size: 1.5rem;
        line-height: 3rem;
        display: inline-block;
        width: 6rem;
        height: 100%;
        margin: 0;
        text-align: center;
      }
      .switch--horizontal label:last-of-type {
        margin-left: 6rem;
      }
      .switch--horizontal .toggle-outside {
        background: #fff;
        position: absolute;
        width: 6rem;
        left: 6rem;
      }
      .switch--horizontal .toggle-inside {
        height: 2.5rem;
        width: 2.5rem;
      }
      .switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
        left: 0.25rem;
      }
      .switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
        left: 3.25rem;
      }
      .switch--vertical {
        width: 12rem;
        height: 6rem;
      }
      .switch--vertical input {
        height: 100%;
        width: 3rem;
        right: 0;
        margin: 0;
      }
      .switch--vertical label {
        font-size: 1.5rem;
        line-height: 3rem;
        display: block;
        width: 8rem;
        height: 50%;
        margin: 0;
        text-align: center;
      }
      .switch--vertical .toggle-outside {
        background: #fff;
        position: absolute;
        width: 3rem;
        height: 100%;
        right: 0;
        top: 0;
      }
      .switch--vertical .toggle-inside {
        height: 2.5rem;
        left: 0.25rem;
        top: 0.25rem;
        width: 2.5rem;
      }
      .switch--vertical input:checked ~ .toggle-outside .toggle-inside {
        top: 0.25rem;
      }
      .switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
        top: 3.25rem;
      }
      .switch--no-label label {
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
      }
      .switch--no-label input:checked ~ .toggle-outside .toggle-inside {
        background: rgba(0,0,0,0.2);
        border: 1px solid rgba(0,0,0,0.2);
      }
      .switch--no-label input ~ input:checked ~ .toggle-outside {
        background: #fff;
      }
      .switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
        background: #2ecc71;
      }
      .switch--no-label.switch--vertical {
        width: 3rem;
      }
      .switch--no-label.switch--horizontal {
        width: 6rem;
      }
      .switch--no-label.switch--horizontal input,
      .switch--no-label.switch--horizontal .toggle-outside {
        left: 0;
      }
      .switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
        height: 2.5rem;
        width: 2.5rem;
      }
      .switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
        width: 3.5rem;
      }
      .switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
        left: 2.25rem;
      }
      .switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
        height: 3.5rem;
      }
      .switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
        top: 2.25rem;
      }
      /* mixin */
      