/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{  
    
    font-family: 'Montserrat', sans-serif;
    --color-amarillo:#f2d576;
    --color-blanco:#fff9fb;
    --color-negro:#252627;
    --color-verde:#1fb9af;
    --color-naranja:#e87554;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body{
    
    background-image: linear-gradient(to bottom, #f4c21d, #f3c530, #f3c83f, #f2cb4c, #f2ce58, #f2cf5d, #f2d162, #f2d267, #f2d267, #f2d267, #f2d267, #f2d267);
}
.marker-semilla svg {
    
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.marker-big > svg{
    transition: all 500ms ease-in-out;
    transform: scale(1.4)
}
lottie-animation-view div svg{
    
    width: 100vw !important;
}