
lottie-animation-view{
    position: absolute;
    max-height: 50vh;
    transition: 5ms all ease-in-out;
}
lottie-animation-view div {
    max-height: 50vh;
    position: relative;
    height: 50vh;
    transition: 5ms all ease-in-out;
}


.home{
    min-height: 80vh;
    width: 100vw;
    
    font-size: 2em;
    background-image: url('../../assets/background.png');
    background-size: cover;
    color: var(--color-negro);
    padding: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home2{
    
    width: 100vw;
    
    font-size: 2em;
    
    
    color: var(--color-negro);
    padding: 3vh 0 0 0;
}
h1{
    margin-bottom: 1.5vh;
    text-align: center;
    font-size: 1em;
}
a{
    cursor: pointer;
}
p.centrado{
    font-size: 0.56em;
    text-align: center;
    padding: 10vw;
    font-weight: 0;
    
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    word-wrap: break-word;
   

}


.display-true{
    display: block;
}
.flor{
    position: relative;
    
    transition: 5ms all ease-in-out;
}





