<main>
    <section class="home2">





        <div style="padding: 3vw;">
            <h1>SEMILLAS DIÁSPORA VENEZUELA</h1>
            <p style="font-size: 0.7em; text-align: center; line-height: 0.8em;">
                Porque creemos que las historias de todos deben ser contadas, escuchadas y dignificadas.<br><br> Porque
                ayer salimos, hoy <a style="text-decoration: none; color:var(--color-naranja)" href="https://twitter.com/hashtag/SomosSemillas">#SomosSemillas</a>.
            </p>
        </div>
    </section>
        <section class="flor">
        <lottie-animation-view  [height]="500"[options]="lottieConfig" 
         (animCreated)="handleAnimation($event)">
        </lottie-animation-view>


    </section>
        
     
    <section class="home">





        <div class="texto">
            
            <p class="centrado"><span style="font-weight: bold;">Semillas Diáspora Venezuela</span> es un proyecto dedicado a los miles de venezolanos y venezolanas que han
                tenido que salir de su tierra y ahora se encuentran esparcidos, como semillas, por el mundo. Este
                espacio busca recopilar y unir esas voces, esas historias que necesitan ser contadas y compartidas.<br><br>

                Queremos que los venezolanos emigrantes no solo sean un número o una estadística.

                A través de esta plataforma te invitamos a contar tus experiencia de migración o la de tus queridos por
                medio de testimonios orales o escritos. <br> <br> Es tiempo de escuchar las voces de los que por alguna razón
                tuvieron que dejar Venezuela. 
                Porque creemos que las historias de todos deben ser contadas, escuchadas y dignificadas.<br><br> Porque
                ayer salimos, hoy #SomosSemillas.
            </p>
        </div>
    </section>

</main>