
.home{
    min-height: 40vh;
    width: 100vw;
    background: var(--color-verde);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-blanco);
    padding: 3vh 0;
}
h1{
    margin-bottom: 1.5vh;
}
a{
    cursor: pointer;
}
p{
    font-size: 0.56em;
    text-align: justify;
    max-width: 40vw;
    font-weight: 0;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;

}

.flor{
    margin-top: 10vh;
    height: 50vh;
    background: var(--color-amarillo);

}









/*Semilla Animation*/
@-webkit-keyframes el_QEzcP4GQgC2_VT27BKflu_Animation {
    0% {
    -webkit-transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
}
100% {
    -webkit-transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
}
}
@keyframes el_QEzcP4GQgC2_VT27BKflu_Animation {
    0% {
    -webkit-transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
}
100% {
    -webkit-transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
}
}
@-webkit-keyframes el_74F50HOwWr1_mil08FxrW_Animation {
    33.33% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
}
0% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
}
}
@keyframes el_74F50HOwWr1_mil08FxrW_Animation {
    33.33% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
}
0% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
}
}
@-webkit-keyframes el_hs5ysiaZqYM_YcKvpxfj3_Animation {
    33.33% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
}
0% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
}
}
@keyframes el_hs5ysiaZqYM_YcKvpxfj3_Animation {
    33.33% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
}
0% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
}
}
@-webkit-keyframes el_-OLiEgwivw8_MOvilB5Ex_Animation {
    33.33% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
}
0% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
}
}
@keyframes el_-OLiEgwivw8_MOvilB5Ex_Animation {
    33.33% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
}
0% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
}
}
@-webkit-keyframes el_Bude6HfvKdV_NKNgAu8Hd_Animation {
    33.33% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
}
0% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
}
}
@keyframes el_Bude6HfvKdV_NKNgAu8Hd_Animation {
    33.33% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
}
0% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
}
}
@-webkit-keyframes el_txtrasCHHFb_xQ5g1QHUT_Animation {
    33.33% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
}
0% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
}
}
@keyframes el_txtrasCHHFb_xQ5g1QHUT_Animation {
    33.33% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
}
0% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
}
}
@-webkit-keyframes el_w3tVFVXIrYj_eOahpIXj7_Animation {
    33.33% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
}
0% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
}
}
@keyframes el_w3tVFVXIrYj_eOahpIXj7_Animation {
    33.33% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
}
0% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
}
}
@-webkit-keyframes el_XsDsF0IW4zi_4RIVLgDOu_Animation {
    33.33% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
}
0% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
}
}
@keyframes el_XsDsF0IW4zi_4RIVLgDOu_Animation {
    33.33% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
}
0% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
}
}
@-webkit-keyframes el_wcVnJc-PUnL_EZ10P3MYz_Animation {
    33.33% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
}
0% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
}
}
@keyframes el_wcVnJc-PUnL_EZ10P3MYz_Animation {
    33.33% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
}
0% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
}
}
@-webkit-keyframes el_8QgACLvGzBx_v90GaA0CJ_Animation {
    33.33% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
}
0% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
}
}
@keyframes el_8QgACLvGzBx_v90GaA0CJ_Animation {
    33.33% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
}
0% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
}
}
@-webkit-keyframes el_0w2mjVOjKS5_VnTg0C0Lg_Animation {
    33.33% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
}
0% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
}
}
@keyframes el_0w2mjVOjKS5_VnTg0C0Lg_Animation {
    33.33% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
}
0% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
}
}
@-webkit-keyframes el_m51fFEpG3t-_nNvexoW5f_Animation {
    33.33% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
}
0% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
}
}
@keyframes el_m51fFEpG3t-_nNvexoW5f_Animation {
    33.33% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
}
0% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
}
}
@-webkit-keyframes el_A1QXharjFOF_AjoYXuWI1_Animation {
    33.33% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
}
0% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
}
}
@keyframes el_A1QXharjFOF_AjoYXuWI1_Animation {
    33.33% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
}
66.67% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
}
0% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(0px,  0px);
}
100% {
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
}
}
#el_hy9wpNJaySR * {
    -webkit-animation-duration:  3s;
    animation-duration:  3s;
    -webkit-animation-timing-function:  cubic-bezier(0,  0,  1,  1);
    animation-timing-function:  cubic-bezier(0,  0,  1,  1);
}
#el__5gfv2oGy5B {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_9ialUlAoljb {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_BK_97nQ0GIO {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_qe0KVB2VzZD {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_wYyNwhT0UeW {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_HdhOav4eNkk {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_4lwZoFmXDTR {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_2PvIqnm2SaY {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_UMnYCL1J8t6 {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_Ch4kF7SPZB7 {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_zajSztQ004g {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_r38UQ_z3NXq {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_tfYC81JZxhu {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_3HLO_C8Rhc_ {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_0cMZnvoKqWY {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_0EAEleGGsXe {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_6OqxV63BYBG {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_9oB-0VuaQcM {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_ERBb1gk8P_T {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_GX2Zuir0H9g {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_SmtAcxhyw-r {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_cwWhHZbC6NA {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_s_l3XjgeY8u {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_m4D6KuAqCPR {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_xqdcHxR3sYd {
    -webkit-transform:  translate(-0.48px,  -0.47px);
    transform:  translate(-0.48px,  -0.47px);
}
#el_QEzcP4GQgC2_VT27BKflu {
    -webkit-transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    transform:  translate(22.699186354875565px,  34.383859038352966px) translate(-22.699186354875565px,  -34.383859038352966px) translate(0px,  20px);
    -webkit-animation-name:  el_QEzcP4GQgC2_VT27BKflu_Animation;
    animation-name:  el_QEzcP4GQgC2_VT27BKflu_Animation;
}
#el_A1QXharjFOF_AjoYXuWI1 {
    -webkit-animation-name:  el_A1QXharjFOF_AjoYXuWI1_Animation;
    animation-name:  el_A1QXharjFOF_AjoYXuWI1_Animation;
    -webkit-transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
    transform:  translate(28.05439281463623px,  13.26575493812561px) translate(-28.05439281463623px,  -13.26575493812561px) translate(10px,  -18px);
}
#el_m51fFEpG3t-_nNvexoW5f {
    -webkit-animation-name:  el_m51fFEpG3t-_nNvexoW5f_Animation;
    animation-name:  el_m51fFEpG3t-_nNvexoW5f_Animation;
    -webkit-transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
    transform:  translate(15.980000019073486px,  12.96399474143982px) translate(-15.980000019073486px,  -12.96399474143982px) translate(-8px,  -15px);
}
#el_0w2mjVOjKS5_VnTg0C0Lg {
    -webkit-animation-name:  el_0w2mjVOjKS5_VnTg0C0Lg_Animation;
    animation-name:  el_0w2mjVOjKS5_VnTg0C0Lg_Animation;
    -webkit-transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
    transform:  translate(13.138880968093872px,  16.22999858856201px) translate(-13.138880968093872px,  -16.22999858856201px) translate(-15px,  -9px);
}
#el_8QgACLvGzBx_v90GaA0CJ {
    -webkit-animation-name:  el_8QgACLvGzBx_v90GaA0CJ_Animation;
    animation-name:  el_8QgACLvGzBx_v90GaA0CJ_Animation;
    -webkit-animation-timing-function:  cubic-bezier(0,  0,  0.58,  1);
    animation-timing-function:  cubic-bezier(0,  0,  0.58,  1);
    -webkit-transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
    transform:  translate(32.3079719543457px,  16.40909719467163px) translate(-32.3079719543457px,  -16.40909719467163px) translate(15px,  -9px);
}
#el_wcVnJc-PUnL_EZ10P3MYz {
    -webkit-animation-name:  el_wcVnJc-PUnL_EZ10P3MYz_Animation;
    animation-name:  el_wcVnJc-PUnL_EZ10P3MYz_Animation;
    -webkit-transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
    transform:  translate(13.931955337524414px,  29.07104778289795px) translate(-13.931955337524414px,  -29.07104778289795px) translate(-10px,  7px);
}
#el_XsDsF0IW4zi_4RIVLgDOu {
    -webkit-animation-name:  el_XsDsF0IW4zi_4RIVLgDOu_Animation;
    animation-name:  el_XsDsF0IW4zi_4RIVLgDOu_Animation;
    -webkit-transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
    transform:  translate(31.74420166015625px,  28.085227966308594px) translate(-31.74420166015625px,  -28.085227966308594px) translate(15px,  7px);
}
#el_w3tVFVXIrYj_eOahpIXj7 {
    -webkit-animation-name:  el_w3tVFVXIrYj_eOahpIXj7_Animation;
    animation-name:  el_w3tVFVXIrYj_eOahpIXj7_Animation;
    -webkit-transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
    transform:  translate(16.58303213119507px,  31.869022369384766px) translate(-16.58303213119507px,  -31.869022369384766px) translate(-6px,  10px);
}
#el_txtrasCHHFb_xQ5g1QHUT {
    -webkit-animation-name:  el_txtrasCHHFb_xQ5g1QHUT_Animation;
    animation-name:  el_txtrasCHHFb_xQ5g1QHUT_Animation;
    -webkit-transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
    transform:  translate(28.966225624084473px,  32.06908416748047px) translate(-28.966225624084473px,  -32.06908416748047px) translate(7px,  10px);
}
#el_Bude6HfvKdV_NKNgAu8Hd {
    -webkit-animation-name:  el_Bude6HfvKdV_NKNgAu8Hd_Animation;
    animation-name:  el_Bude6HfvKdV_NKNgAu8Hd_Animation;
    -webkit-transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
    transform:  translate(22.404319763183594px,  12.011022925376892px) translate(-22.404319763183594px,  -12.011022925376892px) translate(0px,  -20px);
}
#el_-OLiEgwivw8_MOvilB5Ex {
    -webkit-animation-name:  el_-OLiEgwivw8_MOvilB5Ex_Animation;
    animation-name:  el_-OLiEgwivw8_MOvilB5Ex_Animation;
    -webkit-transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
    transform:  translate(12.109966307878494px,  22.357365608215332px) translate(-12.109966307878494px,  -22.357365608215332px) translate(-15px,  0px);
}
#el_hs5ysiaZqYM_YcKvpxfj3 {
    -webkit-animation-name:  el_hs5ysiaZqYM_YcKvpxfj3_Animation;
    animation-name:  el_hs5ysiaZqYM_YcKvpxfj3_Animation;
    -webkit-transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
    transform:  translate(33.23274230957031px,  22.491125106811523px) translate(-33.23274230957031px,  -22.491125106811523px) translate(20px,  0px);
}
#el_74F50HOwWr1_mil08FxrW {
    -webkit-animation-name:  el_74F50HOwWr1_mil08FxrW_Animation;
    animation-name:  el_74F50HOwWr1_mil08FxrW_Animation;
    -webkit-transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
    transform:  translate(24.907798767089844px,  32.365407943725586px) translate(-24.907798767089844px,  -32.365407943725586px) translate(2px,  15px);
}