<main>
    <section class="home2">
        <div>
            <h1 style="font-size: 2em;">SEMILLAS DIÁSPORA VENEZUELA</h1>
        </div>
    </section>
    <section class="home" style="background: none;">
        <div class="texto">
            <p class="centrado" style="padding: 0 10vw;"> Porque creemos que las historias de todos deben ser contadas, escuchadas y dignificadas.<br> Ayer
                salimos, hoy <a style="text-decoration: none; color:var(--color-naranja)"
                    href="https://twitter.com/hashtag/SomosSemillas">#SomosSemillas</a>.
            </p>
        </div>
    </section>
    <section class="flor" style="overflow:hidden">
        <animacion-lottie [height]="'50vh'" [width]="" [options]="lottieConfig" (animCreated)="handleAnimation($event)">
        </animacion-lottie>
    </section>
    <section class="home" >
        <div class="texto">
            <p class="centrado"><span style="font-weight: bold;">Semillas Diáspora Venezuela</span> es un proyecto
                dedicado a los venezolanos y venezolanas que salieron del país y ahora se encuentran esparcidos, como
                semillas, por el mundo. Este
                espacio busca recopilar y unir esas voces, esas historias que necesitan ser contadas y
                compartidas.<br><br>

                Queremos que los venezolanos emigrantes y refugiados no solo sean un número o una estadística.

                A través de esta plataforma te invitamos a contar tu experiencia de migración o la de tus queridos por
                medio de testimonios orales o escritos.
            </p>
        </div>
        <div class="social">
             <a target="_blank" href="https://www.facebook.com/SemillasVenezolanas/"> <i class="fab fa-facebook"></i>  </a> 
             <a target="_blank" href="https://twitter.com/SemillasVenezue"> <i class="fab fa-twitter"></i>  </a> 
             <a target="_blank" href="https://www.instagram.com/semillas.venezuela/"> <i class="fab fa-instagram"></i> </a> 
             <a target="_blank" href="mailto:semillas.diaspora.venezuela@gmail.com"> <i class="fas fa-envelope"></i>  </a> 
        </div>
    </section>


</main>