.contenedor{
    position: relative;
    height: 90vh;

}

.busqueda{
    width: 10vmin;
    position: absolute;
    min-height: 10vmin;
    top: 0;
    transition: width 400ms ease-in-out;
}
.busqueda.active{
    width: 100vw;
}
.instructions{
    z-index: 100000;
    height: 90vh;
    width: 100vw;
    background: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    padding: 0 10vw;
}
.display-block{
    display: none;
}
.button {
    border: none;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 3px;
    margin:5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    transition: text-shadow 0.3s ease;
    font-style: normal;
  }
  
  .button:active {
    position: relative;
    top: 1px;
    border-bottom-width: 2px;
  }
  
  .button:hover {
    text-shadow: 2px 2px 0px rgba(0,0,0,.3)
  }
  .green {
    background-color: var(--color-verde-quem);
    border-color: var(--color-verde);
  }
.search{
    width: 10vmin;
    height: 10vmin;
    background: var(--color-naranja);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search:hover{
    opacity: 0.9;
}
.search-bar{
    position: absolute;
    left: 10vmin;
    width: 0;
    height: 10vmin;
    background: #3e3e3e;
    transition: width 300ms ease-in-out;
}
.search-bar.active{
    width: 100%;
    max-width: calc(100% - 10vmin);
}
.mapboxgl-ctrl-geocoder input[type='text'] {
    background: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font: 25px/25px helvetica;
    color: white;
    box-sizing: border-box;
    padding: 0 20px;
}
.btn {
    height: 50px;
    width: 200px;
    background: var(--color)
}
.map{
    position: absolute;
    right: 0;
    width: 100vw;
    overflow: unset;
    height: 90vh;
    z-index: 0;
}
/* Basics */





.mapboxgl-ctrl-geocoder button {
    display: none;
  }

.btn{
    background: var(--color-verde);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    color: white;
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
}
.btn.left{
    left: 0;
}
.btn.right{
    right: 0;
}
.listed{
    background: var(--color-amarillo);
    z-index: 100;
    position: fixed;
    height: 90vh;
    width: 100vw;
    transform: translateY(80vh);
    transition: all 300ms ease-in-out;
    padding:0 15vw; 
    overflow-y: scroll;   
}

.listed.active{
    transform: translateY(0);
}

.chevron{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1vh;    
}
.chevron i{
    font-size: 20px;
}
/* Adaptando a Escritorio */
@media screen and (min-width: 800px){
    .listed{
        height: 90vh;
        transform: translateY(80vh);
    }
    .listed.active{
        transform: translateY(45vh);
    }
    .timeline {
       height: 45vh;
       
      }
    .btn{
        height: 6vmin;
        width: 6vmin;
    }
}


/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: scroll;
   
  }
  .timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
    line-height: inherit;
  }
  
  /*----- TIMELINE ITEM -----*/
  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }
  
  /*----- TIMELINE INFO -----*/
  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  /*----- TIMELINE MARKER -----*/
  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #FF6B6B;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }
  
  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }
  
  /*----- TIMELINE CONTENT -----*/
  .timeline-content {
    padding-bottom: 40px;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }
  
  /*----- TIMELINE PERIOD -----*/
  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }
  
  /*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
  @media (min-width: 768px) {
    .timeline-split .timeline, .timeline-centered .timeline {
      display: table;
    }
    .timeline-split .timeline-item, .timeline-centered .timeline-item {
      display: table-row;
      padding: 0;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info,
    .timeline-split .timeline-marker,
    .timeline-centered .timeline-marker,
    .timeline-split .timeline-content,
    .timeline-centered .timeline-content,
    .timeline-split .period .timeline-info,
    .timeline-centered .period .timeline-info {
      display: table-cell;
      vertical-align: top;
    }
    .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
      position: relative;
    }
    .timeline-split .timeline-content, .timeline-centered .timeline-content {
      padding-left: 30px;
    }
    .timeline-split .timeline-info, .timeline-centered .timeline-info {
      padding-right: 30px;
    }
    .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
      position: relative;
      left: -45px;
    }
  }
  
  /*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
  @media (min-width: 992px) {
    .timeline-centered,
    .timeline-centered .timeline-item,
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-marker,
    .timeline-centered .timeline-content {
      display: block;
      margin: 0;
      padding: 0;
    }
    .timeline-centered .timeline-item {
      padding-bottom: 40px;
      overflow: hidden;
    }
    .timeline-centered .timeline-marker {
      position: absolute;
      left: 50%;
      margin-left: -7.5px;
    }
    .timeline-centered .timeline-info,
    .timeline-centered .timeline-content {
      width: 50%;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
      float: right;
      text-align: left;
      padding-left: 30px;
    }
    .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
      float: left;
      text-align: right;
      padding-right: 30px;
    }
    .timeline-centered > .timeline-item.period .timeline-content {
      float: none;
      padding: 0;
      width: 100%;
      text-align: center;
    }
    .timeline-centered .timeline-item.period {
      padding: 50px 0 90px;
    }
    .timeline-centered .period .timeline-marker:after {
      height: 30px;
      bottom: 0;
      top: auto;
    }
    .timeline-centered .period .timeline-title {
      left: auto;
    }
  }
  
  /*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
  }
  

