<div class="contenedor">
    <div class="instructions ">
        <p>Cada una de las etapas en nuestros caminos nos marcó y contribuyó a quien somos hoy en día.
             Con esta aplicación, puedes reproducir tu ruta de migración en un mapa global.
            <br> <br>
            <b>Ingresa en la barra de búsqueda cronológicamente tus paradas, empezando por el lugar en Venezuela dónde saliste. Al agregar una nueva parada, vacía la barra de búsqueda. Uno por uno, indica tu ruta hasta llegar a tu destino final. </b> <br> <br>
            
            </p>
            <button  class="button green" (click)="instructions()">Llévame al mapa</button>
    </div>
    <div id="map" class="map"></div>
    <div class="busqueda" @fadeIn >
        <div class="search-bar"  id="geocoder">
            
          </div>

         
    </div>
    <h3 class="scroll-container-title" *ngIf="users.length > 0" @fadeIn> 
        Tu ruta de migración
    </h3>
    <div class="scroll-container">


        <div class="inner-card" *ngFor="let place of users | reverse; let i = index" @fadeIn [id]="'card'+i">
                <ng-container *ngIf="place.place_name">
                        <ng-container [ngSwitch]="this.users.length - (i+1)">
                                <span class="badage" *ngSwitchCase="this.users.length -1">Final</span>
                                <span class="badage" *ngSwitchCase="0">Inicio</span>
                                <span class="badage" *ngSwitchDefault>En Camino</span>
                        </ng-container>
                        <div class="text">
                            <p>{{place.place_name}}</p>
                            <p>{{place.country}}</p>
                            <i class="fas fa-times" (click)="remove(place)"></i>
                        </div>
                        <div class="country" >
                            <img *ngIf="(place.short_code)" style="width: 100%;height: auto;" [src]=" '../../../../assets/images/flags/'+place.short_code+'.svg' || '../../../../assets/images/questionmark.svg '">
                            
                        </div>
                </ng-container>
                <ng-container *ngIf="!place.place_name">
                        <ng-container [ngSwitch]="this.users.length - (i+1)">
                                <span class="badage" *ngSwitchCase="this.users.length -1">Final</span>
                                <span class="badage" *ngSwitchCase="0">Inicio</span>
                                <span class="badage" *ngSwitchDefault>En Camino</span>
                        </ng-container>
                        <div class="text">
                            <p>{{place}}</p>
                            <i class="fas fa-cross" (click)="remove(place)"></i>
                        </div>
                        <div class="country" >
                            <img  style="width: 100%;height: auto;" [src]="'../../../../assets/images/questionmark.svg '">
                        </div>
                </ng-container>
        </div>

    </div>


    <div class="btn left" (click)="step(1)"> <i class="fas fa-arrow-left"></i></div>
    <button class="btn right" (click)="step(3)" [disabled]="!(this.lineString.length>1)"> <i class="fas fa-arrow-right"></i></button>
</div>



